@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body {
    background-color: rgb(174, 176, 177);
}
.welcome>img {
    border-radius: 40px;
    height: 150px;
    width: 150px;

}

.container {
    background-image: url(../images/pixzzainnBg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* color: white; */
}

#myform {
    display: none;
    color: aqua;
}

.welcome>p {
    font-family: 'Lobster';
    margin-top: 10px;
    font-size: 25px;
}

.welcome>h2 {
    font-family: 'Acme';
    font-size: 40px;
    padding-top: 20px;
    /* margin: 20px; */
}

.cart {
    display: none;
    margin-top: 15px;
    background-color: rgb(196, 194, 193);
    border: 2px solid rgb(211, 85, 85);
}

#checkoutbtn {
    display: none;
}

.hidebtn {
    color: rgb(80, 9, 4);
}

.checkoutbtn {
    color: black;
}

/* #makeorderbtn{

} */
.imagesection>div>img {
    height: 250px;
    width: 250px;
    border-radius: 80%;
    border: 2px solid red;
    box-shadow: 0px 2px 2px 3px green;
    /* border: 1px solid green; */
}

.imagesection>div>img:hover {
    transform: scale(1.03);

}

/* .imagesection {
    margin: 40px;
} */

hr {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

#successtext {
    display: none;
    text-shadow: 0px 0px #FF0000;
    /* font-weight: bold; */
}

.col-md-4>img {
    height: 250px;
    width: 250px;
    border-radius: 10%;
    border-bottom: 2px solid green; 

}

.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin:10px; */
}

.col-md-4>img:hover {
    transform: scale(1.03);
}
.info>.card{
    background-image: linear-gradient(green,red);
}
#remove{
    display: none;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    color: red;
}
#place{
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}
#totalcost2{
    text-decoration: underline;
    font-weight: bold;
}