@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
body {
    background-color: rgb(174, 176, 177);
}

.container {
    background-image: url(../images/pixzzainnBg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* color: white; */
}

#myform {
    display: none;
    color: aqua;
}
.welcome>p {
    font-family: 'Lobster';
}
.welcome>h2{
    font-family: 'Acme';
}