body{
    background-color: rgb(174, 176, 177);
}

.container{
    background-image:url(../images/pixzzainnBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(0.6);
    /* color:white; */
}   
#myform {
    display: none;
    color:aqua;
}